.App {
  text-align: center;
  height: 100vh;
  background-color: rgba(1, 23, 26, 0.986);
}

.calendar {
  margin: auto;
  margin-top: 50px;
}

.text {
  margin-top: 50px;
  color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}

.day {
  margin: auto;
  width: 300px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
    text-shadow:
      0 0 7px #0e4e49,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
      border: 0.2rem solid #fff;
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #bc13fe,
                  0 0 0.8rem #bc13fe,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;
    }